_build/
._*/
*.native
*.log
*.cmp
*.cmp64
*.ans
*.res
*.res64
*.out
*.out64
*~
*.cmo
*.cmi
*.o
lexer.ml
parser.ml
parser.mli
test/*.s
test/*.x
min-rt/*.s
/asm.ml
/asm.mli
/emit.ml
/regAlloc.ml
/simm.ml
/virtual.ml
/libmincaml.S
/libmincaml.txt
/min-caml
/min-caml.top
libmincaml_stubs.clib

